.container-principal {
    display: grid;
    grid-template-columns: 20% 80%;
    background-color: rgba(217, 217, 217, 1);
    height: 100%;
}

.contenedor1 {
    background-color: rgba(217, 217, 217, 1);
    height: 1000px;
    padding-top: 10px;
}

.contenedor2 {
    text-align: center;
    padding: 1%;
}

.cuadro_adentro {
    width: 90%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    margin: 0 auto;
}

.contenedor-Dentro {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 11px;
    display: grid;
    grid-template-rows: 5% 95%;
    border: solid 1px;
}

.contenedor-header {
    border-radius: 10px 10px 0px 0px;
    background-color: rgba(42, 54, 59, 1);
}

.contenedor-principal1 {
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 1%;
    border-radius: 11px;
}

.nombreNat {
    text-align: center;
    color: white;
    margin: 0 auto;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.contendorformulario {
    display: grid;
    grid-template-columns: auto auto auto;
    padding-top: 5%;
}

.texto-Entradas {
    text-align: justify;
    padding-left: 20%;
}

.leabe-nombre {
    background-color: rgba(217, 217, 217, 1);
    border: solid 0px;
    border-radius: 11px;
    width: 100%;
    border-bottom: 1px;
    text-align: justify;
}

.contendor-input {
    padding-top: 10px;
}

.cuadro_adentro-logo {
    background-color: rgba(217, 217, 217, 1);
    width: 70%;
    height: 100%;
    margin: 0 auto;
    border-radius: 11px;
    padding-top: 20%;
}

.conetenedor-Foto {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50%;
}

.custom-file-button {
    background-color: rgba(156, 184, 151, 1);
    border-radius: 11px;
    border: 0px;
    width: 100%;
    height: 30px;
}

.contendor-imagenes {
    padding-left: 10%;
    padding-right: 10%;
}
.mensaje-exito {
    color: green;
    font-weight: bold;
    margin: 10px 0;
  }
  
  .mensaje-error {
    color: red;
    font-weight: bold;
    margin: 10px 0;
  }
  

.foto {
    width: 50%;
    height: 50%;
}

.boton {
    width: 100%;
    margin: 0 auto;
}

.btn-enviar {
    background-color: rgba(43, 54, 59, 1);
    width: 20%;
    height: 40px;
    border: solid 0px;
    border-radius: 11px;
    color: aliceblue;
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-enviar:hover {
    background-color: rgb(37, 43, 46);
    color: rgb(255, 255, 255);
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
}

.btn-enviar:active {
    background-color: rgb(9, 255, 0);
    color: rgb(0, 0, 0);
    box-shadow: 5px 5px 8px 5px rgba(0, 0, 0, 0.2);
}
