<section class="contenedor-principal">
    <div class="container-principal">
        
        <div class="contenedor1">
            <div class="cuadro_adentro">
                <app-menu-coordinador></app-menu-coordinador>
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="contenedor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left">Registro de Aprendiz</p>
                    </div>
                    <div class="contenedor-contenido">
                        <form (ngSubmit)="onSubmit()" data-aos="fade-left">
                            <div class="contendorformulario">
                                <div>
                                    <div class="texto-Entradas">
                                        <p>Nombre:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Correo estudiantil:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Género:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Edad:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Número de Documento:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Contraseña:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Estado</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Numero De Ficha</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Nombre De Formación:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Nivel de educacion:</p>
                                    </div>
                                   
                                </div>
                                <div>
                                    <div>
                                        <input type="text" class="leabe-nombre" id="nombre" name="nombre" [(ngModel)]="aprendiz.nombre">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre"  id="correo" name="correo" [(ngModel)]="aprendiz.correo">

                                    </div>
                                    <div class="contendor-input">
                                        <label for="gender">Género:</label>
                                        <input type="text" class="leabe-nombre"  id="genero" name="genero" [(ngModel)]="aprendiz.genero">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre"  id="edad" name="edad" [(ngModel)]="aprendiz.edad">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="numeroDocuemnto" name="numeroDocuemnto" [(ngModel)]="aprendiz.numeroDocuemnto">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="contrasena" name="contrasena" [(ngModel)]="aprendiz.contrasena">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="estado" name="estado" [(ngModel)]="aprendiz.estado">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="numeroFicha" name="numeroFicha"  [(ngModel)]="aprendiz.numeroFicha">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="nombreFichaa" name="nombreFicha" [(ngModel)]="aprendiz.nombreFicha">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre"  id="nivelEducaciona" name="nivelEducacion"  [(ngModel)]="aprendiz.nivelEducacion">
                                    </div>
                                   
                                </div>
                            </div>
                            <button type="submit" class="btn-enviar">Enviar</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mensajeExito" class="alert alert-success">
        {{ mensajeExito }}
      </div>
      <div *ngIf="mensajeError" class="alert alert-danger">
        {{ mensajeError }}
      </div>
      
</section>
