
<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left" >Registro reportes </p>
                    </div>
                    <div class="contenedor-contenido">
                        <form  (ngSubmit)="agregarReporte()" data-aos="fade-left">
                            <div class="contendorformulario">
                                <div>
                                    <div class="texto-entradas">
                                        <p>Titulo del reporte:</p>
                                    </div>
                                    <div class="texto-entradas">
                                        <p>Descripcion del reporte:</p>
                                    </div>
                                    <br>
                                  
                                </div>
                        
                                <div>
        
                                    <div>
                                        <div class="contenedor-input">
                                            <input type="text" class="leabe-nombre" id="required" name="required" [(ngModel)]=" nuevoReporte.titulo" required>
                                        </div>
                                        <br>
                                        <div class="contenedor-input">
                                            <input type="text" class="leabe-nombre" id="descripcion" name="descripcion" [(ngModel)]="nuevoReporte.descripcion" required>
                                        </div>
                                        <br>
                                            
                                    </div>
                                </div>
                                </div>
                            <div></div>
                            <button type="submit" class="btn-enviar">Enviar</button>
                        </form>
                                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>