
<div class="bg bg2"></div>
<div class="bg bg3"></div>


<div class="panel-principal">
    <div>
        <app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante>
    </div>
    <div class="contendor-set">
        <div class="contenedores-car1">
            <div class="cont1">

                <div class="card1">
                    <div>   
                        <div class="titulo123">
                            <p>Ingresa al proyecto</p>
                        </div>
                    </div>
                    <div class="titulo1231">
                        <p>
                            Accede al tablero de "Criterios Evaluativos", una herramienta fundamental para evaluar el progreso y rendimiento en tus proyectos y actividades. Este tablero te proporciona una visión clara de los criterios utilizados para medir el éxito y permite una evaluación objetiva basada en parámetros bien definidos.
                        </p>
                    </div>
                    <div class="btn-center">
                        <a routerLink="/criterios">
                            <button class="btn1">
                                Ingresa aqui
                            </button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="cont1">
                <div class="card2">
                    <div class="contenedor-nivel">
                        <P>
                            Nivel
                        </P>
                    </div>
                    <div class="contenedor-circulos">
                        <div class="ff">
                            <button class="circulo2">
                                Analisis
                            </button>
                        </div>
                        <div class="ff">
                            <button class="circulo2">
                                Planeacion
                            </button>
                        </div>
                        <div class="ff">
                            <button class="circulo3">
                                Ejecucion
                            </button>
                        </div>
                        <div class="ff">
                            <button class="circulo4">
                                Evaluación
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div>
            </div>
            <div class="cont1">
                <div class="card3">
                    <div class="f2">
                        <p>
                            Zaiuna SENA
                        </p>
                    </div>
                    <div class="jj1">
                        <div class="hhh">
                            <div class="textos">
                                <p>
                                    Plataforma de gestión de proyectos que facilita la colaboración y el seguimiento de tareas en equipo.

                                </p>
                            </div>
                            <div class="cuadrito1">
                                <p>
                                    .Interfaz intuitiva
                                </p>
                               
                            </div>
                            <div class="cuadrito1">
                                <p>
                                    Colaboración en tiempo real
                                </p>
                                
                            </div>
                            <div class="cuadrito1"> 
                                <p>
                                    Gestión de tareas

                                </p>
                            </div>
                            <div class="cuadrito1">
                                <p>
                                    Integración de herramientas 

                                </p>
                            </div>
                            <div>
                                <a routerLink="/criterios">
                                    <button class="btn1">
                                        Visitar Zajuna
                                    </button>
                                </a>
                            </div>
                        </div>
                        
                    </div>

                </div>
            </div>
            <div class="cont1">

                <div class="card4">
                    <div class="f2">
                        <p>
                            Biblioteca SENA
                        </p>
                    </div>
                    <div class="jj1">
                        <div class="hhh">
                            <div class="textos">
                                <p>
                                    Herramienta de consulta con acceso a una amplia variedad de recursos educativos y formativos.


                                </p>
                            </div>
                            <div class="cuadrito1">
                                <p>
                                    Extensas colecciones 



                                </p>
                               
                            </div>
                            <div class="cuadrito1">
                                <p>
                                    Acceso en línea 24/7
                                </p>
                                
                            </div>
                            <div class="cuadrito1"> 
                                <p>
                                    Búsqueda avanzada

                                </p>
                            </div>
                            <div class="cuadrito1">
                                <p>
                                    Apoyo al aprendiz

                                </p>
                            </div>
                            <div>
                                <a routerLink="/criterios">
                                    <button class="btn1">
                                        Visitar Biblioteca 
                                    </button>
                                </a>
                            </div>
                        </div>
                        
                    </div>
                </div>

            </div>





        </div>
        <div class="contenedores-car2">
            <div class="conte-card1">

                <div class="contenedor-texto">
                    <p class="datos1">Datos importantes</p>
                </div>
                
                <div class="contenido-car-1">
                    <!-- Aqui va el for para cargar el proyecto -->
                    
                    <div class="carta-1-1">
                        <div>
                            <p class="titulo-proyecto">
                                Titulo del proyecto: 
                            </p>
                        </div>
                        <div class="contendor-centro" >   
                            <div class="cuador-conentenedor" >
                                <p class="titulo-proyecto1">
                                    Descripción del proyecto.
                                </p>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="contenido-car-1">
                    <div class="carta-1-1-2">

                        <div>
                            <p class="titulo-proyecto">
                                Integrantes del grupo:
                            </p>
                        </div>

                        <div class="adad">
                            <div class="hhh">
                                <div class="cuado-l1">
                                    <p>Joseph Antonio Carreño Urbina</p>
                                </div>
                                <div class="cuado-l1">
                                    <p>Jose Manuel Hernandez Donado</p>
                                </div>
                                <div class="cuado-l1">
                                    <p>Ciro Alfonso Granados</p>
                                </div>
                                <div class="cuado-l1">
                                    <p>Anonimo..</p>
                                </div>
                            </div>
                            
                        </div>
                        


                    </div>
                </div>


            </div>
            <div class="contenedores-card3-f">
                <!-- Aqui va el for -->

                 
                <div class="contenedores-card3-f">
                    <div 
                        class="carta11" 
                        [ngClass]="{'carta-reducida': fichas.length > 5}" 
                        *ngFor="let ficha of fichas">
                        <div class="contenedor-centro1">
                            <div class="contenedor-fichas">
                                <div class="imagen-logo">
                                    <img src="assets/kisspng-logo-brand-line-5af66c2d1dfee7 2.png" alt="Logo del Proyecto">
                                </div>
                                <div>
                                    <p class="txt">Nombre Proyecto: {{ ficha.nombreFicha }}</p>
                                </div>
                                <div>
                                    <p class="txt">Número de Ficha: {{ ficha.numeroFicha }}</p>
                                </div>
                                <div>
                                    <p class="txt">Estado: {{ ficha.idFicha }}</p>
                                </div>
                                <div>
                                    <a routerLink="/criterios">
                                        <button class="btn1">Ingresar Aquí</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <div></div>
    



</div>

