<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-nav></app-nav>

<div class="panel-principal">


    <div>1</div>
    <div class="contendor-set">
        <div class="contenedores-car1">
            <div class="cont1">

                <div class="card1">
                    <div>   
                        <div class="titulo123">
                            <p>Ingresa al proyecto</p>
                        </div>
                    </div>
                    <div class="titulo1231">
                        <p>
                            Accede al tablero de "Criterios Evaluativos", una herramienta fundamental para evaluar el progreso y rendimiento en tus proyectos y actividades. Este tablero te proporciona una visión clara de los criterios utilizados para medir el éxito y permite una evaluación objetiva basada en parámetros bien definidos.
                        </p>
                    </div>
                    <div class="btn-center">
                        <a routerLink="/criterios">
                            <button class="btn1">
                                Ingresa aqui
                            </button>
                        </a>
                      
                    </div>

                </div>

            </div>
            <div class="cont1">

                <div class="card2">
                </div>

            </div>
            <div>

            </div>
            <div class="cont1">

                <div class="card3">
                </div>

            </div>
            <div class="cont1">

                <div class="card4">
                </div>

            </div>





        </div>
        <div class="contenedores-car2">
            <div class="conte-card1">

                <div class="contenedor-texto">
                    <p class="datos1">Datos importantes</p>
                </div>
                <div class="contenido-car-1">
                    <div class="carta-1-1">
                        1
                    </div>
                    
                </div>
                <div class="contenido-car-1">
                    <div class="carta-1-1">
                        1
                    </div>
                </div>


            </div>
            <div class="contenedores-card3-f">
                <div class="contenedores-card3">

                    <div class="contenedor-texto">
                        <p class="datos1">Datos importantes</p>
                    </div>

                    <div class="contenedores-card3-f" >
                        <div class="carta11" >

                        </div>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    <div>3</div>
    



</div>
