<div class="contendor-princiapal">
    <div class="w">
        <div class="contenido-footer1">
        </div>
    </div>
    <div >

        <div class="header"  >
            <div><img src="assets/kisspng-logo-brand-line-5af66c2d1dfee7 2 (1).png" alt="" class="logo"></div>
            <div class="contendor-texto"><p  class="texto" >Innovac</p></div>
            <div class="contenedor-botones">
                <div class="btn1" data-aos="fade-down">
                    <a routerLink="/criterios" routerLinkActive="router-link-active"  class="texto1"><p > Inicar sesió</p></a>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="btn1" data-aos="fade-down">
                    <a href="###" class="texto1"> 
                        <p  > contactanos</p>
                    </a>
                </div>
            </div>
            <div class="contenedor-botones">
                <div class="btn1" data-aos="fade-down">
                    <a href="###" class="texto1"> <p class="texto1"> Ayuda</p></a>
                </div>
            </div>
        </div>

        <div class="contenido-con-imagen">
            <div class="contenido-textoss">

                <div>
                    <p class="texto3">¿Que es innovac?</p>
                </div>
                <div>
                    <p class="texto4">
                        El sistema de gestión de proyectos formativos "Innovac" del Servicio Nacional de Aprendizaje (SENA) está diseñado para mejorar la eficiencia en la gestión de proyectos formativos de análisis y desarrollo de software.
                    </p>

                </div>
                <div>

                    <div class="boton-ingresar1" data-aos="fade-right">
                      <a href="###" class="btn-iniciar">Iniciar Sesión</a>
                    </div>
                   

                </div>



            </div>
            <div> 
                <img src="assets/Group 149.png" alt="" class="img2" data-aos="fade-left">
            </div>

        </div>

        <div class="informacion-adicional" data-aos="fade-down-left">
            

            <div class="contendor-informacion-adicional-contenido">
                <div class="p1" data-aos="fade-down-left">
                    <p class="informacion-adicional11">
                        Obtenga mas información sobre como innovac funciona
                    </p>
                </div>
                <div class="p1" data-aos="fade-up">
                    <p class="informacion-adicional111">
                        Innovac es una plataforma diseñada para mejorar la gestión de proyectos formativos en análisis y desarrollo de software. Permite a aprendices, instructores, evaluadores y administradores iniciar sesión, cargar documentos, visualizar criterios evaluativos, comunicarse, comentar y corregir proyectos, generar reportes, realizar sustentaciones y recibir notificaciones.
                    </p>
                </div>

            </div>
            <div class="contenedor-imagen1">
                <img src="assets/Analytics 2.png" alt="" class="imagende-contenido-adicional">
            </div>
        </div>
        <div class="contenido-footer">
            <div class="contenedor-txt">
                <p class="textos" data-aos="fade-up">¡Sitios  Recomendados!</p>
            </div>
            <div class="contenedores-de-imagenes">
                <div></div>
                <div class="imagenes-adentros" data-aos="fade-down">
                    <a href="###"><img src="assets/Group 151.png" alt="" class="imgenes12"></a>
                </div>
                <div class="imagenes-adentros" data-aos="fade-up">
                    <a href="###"><img src="assets/Group 152.png" alt="" class="imgenes12"></a>
                    
                </div>
                <div class="imagenes-adentros" data-aos="fade-down">
                    <a href="###"><img src="assets/Group 153.png" alt="" class="imgenes12"></a>
                   
                </div>
                <div></div>
            </div>
            <div class="copy">
                <p>&copy; 2024. Gestor de proyecto</p>

            </div>

        </div>
        

    </div>
    <div class="w">

        <div class="contenido-footer1">
        </div>
    </div>
   
    
</div>
