
<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left" >Registro de Evaluador</p>
                    </div>
                    <div class="contenedor-contenido">
                        <form (ngSubmit)="onSubmit()" data-aos="fade-left">
                            <!-- Metodo para enviar los datos a la base de datos -->
                            <div class="contendorformulario">
                                <div>
                                    <div class="texto-Entradas">
                                        <p>Nombre:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Correo:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Género:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Edad:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Número de Documento:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Contraseña:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Estado:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Área a Evaluar:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Nivel de Certificación:</p>
                                    </div>
                                </div>
                        
                                <div>
                                    <div>
                                        <input type="text" class="leabe-nombre" id="nombre" name="nombre" [(ngModel)]="evaluador.nombre">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="correo" name="correo" [(ngModel)]="evaluador.correo">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" id="genero" name="genero" class="leabe-nombre" [(ngModel)]="evaluador.genero">
                                    </div>
                                    
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="edad" name="edad" [(ngModel)]="evaluador.edad">
                                    </div>
                                    <br>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="numeroDocuemnto" name="numeroDocuemnto" [(ngModel)]="evaluador.numeroDocuemnto">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="contrasena" name="contrasena" [(ngModel)]="evaluador.contrasena">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="estado" name="estado" [(ngModel)]="evaluador.estado">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="areaEvaluar" name="areaEvaluar" [(ngModel)]="evaluador.areaEvaluar">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="nivelCertificaicon" name="nivelCertificaicon" [(ngModel)]="evaluador.nivelCertificaicon">
                                    </div>
                                </div>
                        
                               
                            </div>
                        
                            <!-- Botón para enviar los datos del formulario -->
                            <div class="boton">
                                <button type="submit" class="btn-enviar">Enviar</button>
                            </div>
                        </form>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>