<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left" >Ver administrador</p>
                    </div>
                    <div class="contenedor-contenido">
                        <table class="table" data-aos="fade-left">
                            <thead>
                              <tr class="table-secondary">
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Género</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Número de documento</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Área administrativa</th>
                                <th scope="col">Nivel de acceso</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let administrador of administrador">
                                <th scope="row">{{administrador.idAdministrador}}</th>
                                <td>{{administrador.nombre}}</td>
                                <td>{{administrador.correo}}</td>
                                <td>{{administrador.genero}}</td>
                                <td>{{administrador.edad}}</td>
                                <td>{{administrador.numeroDocumento}}</td>
                                <td>{{administrador.contrasena}}</td>
                                <td>{{administrador.estado}}</td>
                                <td>{{administrador.areaAdministrar}}</td>
                                <td>{{administrador.nivelAcceso}}</td>
                              </tr>
                            </tbody>
                          </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


