<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left" >Ver instructor</p>
                    </div>
                    <div class="contenedor-contenido">
                        <table class="table" data-aos="fade-left">
                            <thead>
                              <tr class="table-secondary">
                                <th scope="col">ID</th>
                                <th scope="col">Nombre</th>
                                <th scope="col">Correo</th>
                                <th scope="col">Género</th>
                                <th scope="col">Edad</th>
                                <th scope="col">Número de documento</th>
                                <th scope="col">Contraseña</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Especialidad</th>
                                <th scope="col">Fecha de inicio del contrato</th>
                                <th scope="col">Fecha final del contrato</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let instructor of instructor">
                                <th scope="row">{{instructor.idInstructor}}</th>
                                <td>{{instructor.nombre}}</td>
                                <td>{{instructor.correo}}</td>
                                <td>{{instructor.genero}}</td>
                                <td>{{instructor.edad}}</td>
                                <td>{{instructor.numeroDocuemnto}}</td>
                                <td>{{instructor.contrasena}}</td>
                                <td>{{instructor.estado}}</td>
                                <td>{{instructor.especialidad}}</td>
                                <!-- <td>{{instructor.fechaInicioContrato | date:'shortDate'}}</td> -->
                                <!-- <td>{{instructor.fechaFinalContrato | date:'shortDate'}}</td> -->
                              </tr>
                            </tbody>
                          </table>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


