<div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <section>
        <div class="form-box">
            <div class="form-value">
                <form action="">
                    <h2>Login-Innovac</h2>
                    <div class="inputbox">
                        <!-- <ion-icon name="card-outline"></ion-icon> -->
                        <select required>
                            <option value="" disabled selected hidden></option>
                            <option value="cc">Cédula de Ciudadanía</option>
                            <option value="ti">Tarjeta de Identidad</option>
                            <option value="ce">Tarjeta de Extranjería</option>
                        </select>
                        <label for="">Tipo de Documento</label>
                    </div>
                    <div class="inputbox">
                        <!-- <ion-icon name="mail-outline"></ion-icon> -->
                        <input type="text" required>
                        <label for="">Usuario</label>
                    </div>
                    <div class="inputbox">
                        <!-- <ion-icon name="lock-closed-outline"></ion-icon> -->
                        <input type="password" required>
                        <label for="">Contraseña</label>
                    </div>
                    <div class="forget">
                        <label for=""><input type="checkbox"> Recordar 
                        <a href="#">Olvidé mi contraseña</a></label>
                    </div>
                    <button>Inicio</button>
                </form>
            </div>
        </div>
    </section>
