<app-loader></app-loader>

<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>

<section>
  <div class="form-box">
    <form (ngSubmit)="onSubmit()">
      <h2>Login-Innovac</h2>

      <div class="inputbox">
        <select name="tipoDocumento" required>
          <option value="" disabled selected hidden></option>
          <option value="cc">Cédula de Ciudadanía</option>
          <option value="ti">Tarjeta de Identidad</option>
          <option value="ce">Tarjeta de Extranjería</option>
        </select>
        <label for="tipoDocumento">Tipo de Documento</label>
      </div>

      <div class="inputbox">
        <input [(ngModel)]="usuario" name="usuario" type="text" required>
        <label for="usuario">Usuario</label>
      </div>

      <div class="inputbox">
        <input [(ngModel)]="contrasena" name="contrasena" type="password" required>
        <label for="contrasena">Contraseña</label>
      </div>

      <div *ngIf="error" class="error-message">
        {{ error }}
      </div>

      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
</section>
