
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-nav></app-nav>

<div class="contenedor1">
    <div><app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante></div>
    <div class="contenedor2">
        <div class="contenedor3">
            <div class="contenedor4">
                <div class="cuadro">1</div>
                <div class="cuadro2">/</div>
                <div class="cuadro">1</div>
                <div class="cuadro3">-</div>
                <div class="cuadro2">+</div>
                <div></div>
                <div class="cuadro2">0/20</div>
            </div>
            <div class="estilo"></div>
        </div>
    </div>
    <div></div>
</div>
