<div class="app-container">
    <div><app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante></div>
    <div class="container0">
        <div class="container1"><p class="p">Perfil</p></div>
        <div class="container2">
            <div></div>
            <div>
                <div class="cuadro-blanco">
                    <form (ngSubmit)="onSubmit()" >
                        
                        <div class="contendorformulario">
                            <div>
                                <div class="texto-Entradas">
                                    <p>Informacion del proyecto:</p>
                                </div>
                                <div class="texto-Entradas">
                                    <p>Nombre del software:</p>
                                </div>
                                <div class="texto-Entradas">
                                    <p>Integrantes del grupo:</p>
                                </div>
                               
                                <div class="texto-Entradas">
                                    <p>Lema:<br></p>
                                </div>
                                <div class="texto-Entradas">
                                    <p>Descripcion:</p>
                                </div>
                            </div>
                            <div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre" id="nombreProyecto" name="nombreProyecto"   [(ngModel)]="equipo.nombreProyecto"   ></div>
                                <div class="contendor-input"></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre" id="nombreSoftware" name="nombreSoftware"  [(ngModel)]="equipo.nombreSoftware"   ></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre" id="integrantes" name="integrantes"   [(ngModel)]="equipo.integrantes"  ></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre" id="lema" name="lema"  [(ngModel)]="equipo.lema"  ></div>
                                <br>
                                <div class="contendor-input"><input type="text" class="leabe-nombre1" id="descripcion" name="descripcion"  [(ngModel)]="equipo.descripcion"   ></div>
                                <!-- type="date" class="leabe-nombre" id="fechaFinalContrato" name="fechaFinalContrato"  -->
                            </div>
                            <div class="contendor-imagenes">
                                <div class="conetenedor-Foto">
                                    <div class="cuador_adentro-logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="container3">
                            <div><div class="boton">
                                <button class="btn-enviar" type="button" (click)="limpiarFormulario()">
                                    Limpiar
                                </button>
                            </div></div>
                            <div><div class="boton">
                                <button class="btn-enviar">
                                    Enviar
                                </button>
                            </div></div>
                            <div><div class="boton">
                                <a routerLink="/">
                                    <button class="btn-enviar">
                                        Salir
                                    </button>
                                </a>
                              
                            </div></div>
                        </div>
                    </form>                    
                </div>
            </div>
            <div></div>
        </div>
        
    </div>
</div>