<div class="app-container">
    <div><app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante></div>
    <div class="container0">
        <div class="container1"><p class="p">Perfil</p></div>
        <div class="container2">
            <div></div>
            <div>
                <div class="cuadro-blanco">
                    <form action="" >
                        
                        <div class="contendorformulario">
                            <div>
                                <div class="texto-Entradas">
                                    <p>Informacion del proyecto:</p>
                                </div>
                                <div class="texto-Entradas">
                                    <p>Nombre del software:</p>
                                </div>
                                <div class="texto-Entradas">
                                    <p>Integrantes del grupo:</p>
                                </div>
                               
                                <div class="texto-Entradas">
                                    <p>Lema:<br></p>
                                </div>
                                <div class="texto-Entradas">
                                    <p>Descripcion:</p>
                                </div>
                            </div>
                            <div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre"></div>
                                <div class="contendor-input"></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre"></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre"></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre"></div>
                                <div class="contendor-input"><input type="text" class="leabe-nombre1"></div>
                                 
                            </div>
                            <div class="contendor-imagenes">
                                <div class="conetenedor-Foto">
                                    <div class="cuador_adentro-logo">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>                    
                </div>
            </div>
            <div></div>
        </div>
        <div class="container3">
            <div><div class="boton">
                <button class="btn-enviar">
                    Limpiar
                </button>
            </div></div>
            <div><div class="boton">
                <button class="btn-enviar">
                    Enviar
                </button>
            </div></div>
            <div><div class="boton">
                <button class="btn-enviar">
                    Salir
                </button>
            </div></div>
        </div>
    </div>
</div>
