<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat">Crear reportes</p>
                    </div>
                    <div class="contenedor-contenido">
                        <div>
                            1
                        </div>
                        <div>
                            <div class="cuadritos1">
                            
                                <div class="conetenedor-header">
                                    <p class="texto2">Cerar reportes</p>
                                </div>
                                <div class="contendor-inputus">
                                    <div>1

                                        <p>id</p>
                                    </div>
                                    <div>2
                                        
                                    </div>
                                    <div>
                                        3
                                        <p>nombre</p>
                                        
                                    </div>
                                    <div>4</div>
                                    <div>5
                                        <p>Descripcion</p>
                                    </div>
                                    <div>6</div>
                                </div>
                            </div>
                        </div>
                        <div>
                            3
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>