body {
    margin: 0;
  }
  
  .bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
  }
  
  .bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
  }
  
  .bg3 {
    animation-duration: 5s;
  }
  
  .content {
    display: grid;
    grid-template-columns: 5% auto 5%;
    width: 100%;
    height: 800px;
    position: relative;
  }
  
  .imges11 {
    width: 20%;
    height: 20%;
  }
  
  .contenedor-tarjer {
    display: flex;
    justify-content: center;
  }
  
  .contendo_tableros {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding-top: 2%;
  }
  
  .etiquetas1 {
    height: 68%;
    width: 90%;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 10% auto auto auto;
  }
  
  .texto1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  
  .contenedor-tres-puntos {
    display: flex;
    padding-left: 50px;
  }
  
  .contentdor-textos {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .ll {
    margin-left: 20px;
  }
  
  .carta11 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: rgba(42, 54, 59, 1);
    display: grid;
    grid-template-rows: 20% auto auto;
  }
  
  .texto11 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  
  .texto121 {
    font-family: 'Montserrat', sans-serif;
    color: white;
    text-align: center;
    font-size: 13px;
  }
  
  .etiquetas1 div {
    width: 100%;
    height: 100%;
  }
  
  .contendor-cartas {
    padding: 10px;
  }
  
  .header-etiqueta {
    display: grid;
    grid-template-columns: auto auto;
  }
  
  .etiquetas2 {
    width: 95%;
    height: 89%;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 10% auto auto auto;
  }
  
  .etiquetas3 {
    width: 95%;
    height: 70%;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 10% auto auto auto;
  }
  
  .etiquetas4 {
    width: 95%;
    height: 60%;
    border-radius: 20px;
    background-color: white;
    display: grid;
    grid-template-rows: 10% auto auto auto;
  }
  
  h1 {
    font-family: monospace;
  }
  
  @keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
  }
  
  button {
    background-color: #1CC923;
    color: black;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;
    width: 120px;
    height: 40px;
    position: absolute;
    bottom: 20px;
    right: 5%;
    border: none;
  }