<app-nav></app-nav>
<div class="bg"></div>
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<div class="content">
    <div>
        <app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante>
    </div>
    <div class="contendo_tableros">
        <div class="etiquetas1" data-aos="fade-down">
            <div class="header-etiqueta">
                <div class="contentdor-textos">
                    <p class="texto1">Analisis</p>
                </div>
                <div class="contenedor-tres-puntos">
                    <svg class="ll" xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M218.57-421.33q-24.24 0-41.4-17.26Q160-455.86 160-480.09q0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.41 17.26q17.16 17.27 17.16 41.5 0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Zm261.34 0q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm261.33 0q-24.24 0-41.41-17.26-17.16-17.27-17.16-41.5 0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.4 17.26Q800-504.14 800-479.91q0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Z"/></svg>
                </div>
            </div>
            <div class="contendor-cartas">
                <div class="carta11"  data-aos="fade-right">
                    <div>
                        <p class="texto11">Tarea 1</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la tarea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la tarea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la tarea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
        </div>
        <div class="etiquetas2" data-aos="fade-down">
            <div class="header-etiqueta">
                <div class="contentdor-textos">
                    <p class="texto1">Planeación</p>
                </div>
                <div class="contenedor-tres-puntos">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M218.57-421.33q-24.24 0-41.4-17.26Q160-455.86 160-480.09q0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.41 17.26q17.16 17.27 17.16 41.5 0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Zm261.34 0q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm261.33 0q-24.24 0-41.41-17.26-17.16-17.27-17.16-41.5 0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.4 17.26Q800-504.14 800-479.91q0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Z"/></svg>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la terea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Diagrama de flujo</p>
                    </div>
                    <div class="contenedor-tarjer">
                        <img src="assets/image 15.png" alt="">
                    </div>
                    <p class="texto121">
                        Aqui va las inidicaciones de la tarea
                    </p>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div class="contenedor-tarjer">
                        <img src="assets/image 16.png" alt="">
                    </div>
                    <p class="texto121">
                        Aqui va las inidicaciones de la tarea
                    </p>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="etiquetas3" data-aos="fade-down">
            <div class="header-etiqueta">
                <div class="contentdor-textos">
                    <p class="texto1">Ejecución</p>
                </div>
                <div class="contenedor-tres-puntos">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M218.57-421.33q-24.24 0-41.4-17.26Q160-455.86 160-480.09q0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.41 17.26q17.16 17.27 17.16 41.5 0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Zm261.34 0q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm261.33 0q-24.24 0-41.41-17.26-17.16-17.27-17.16-41.5 0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.4 17.26Q800-504.14 800-479.91q0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Z"/></svg>
                </div>
            </div>
            <div class="contendor-cartas">
                <div class="carta11"  data-aos="fade-right">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la terea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11" >
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div  class="contenedor-tarjer">
                        <img src="assets/image 17.png" alt="">
                    </div>
                    <p class="texto121">
                        Aqui va las inidicaciones de la terea
                    </p>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la terea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
        </div>
        <div class="etiquetas4" data-aos="fade-down">
            <div class="header-etiqueta">
                <div class="contentdor-textos">
                    <p class="texto1">Evaluacion</p>
                </div>
                <div class="contenedor-tres-puntos">
                    <svg xmlns="http://www.w3.org/2000/svg" height="40px" viewBox="0 -960 960 960" width="40px" fill="#000000"><path d="M218.57-421.33q-24.24 0-41.4-17.26Q160-455.86 160-480.09q0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.41 17.26q17.16 17.27 17.16 41.5 0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Zm261.34 0q-24.24 0-41.41-17.26-17.17-17.27-17.17-41.5 0-24.24 17.26-41.41 17.27-17.17 41.5-17.17 24.24 0 41.41 17.26 17.17 17.27 17.17 41.5 0 24.24-17.26 41.41-17.27 17.17-41.5 17.17Zm261.33 0q-24.24 0-41.41-17.26-17.16-17.27-17.16-41.5 0-24.24 17.26-41.41 17.26-17.17 41.5-17.17t41.4 17.26Q800-504.14 800-479.91q0 24.24-17.26 41.41-17.26 17.17-41.5 17.17Z"/></svg>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la terea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la terea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
            <div class="contendor-cartas"  data-aos="fade-right">
                <div class="carta11">
                    <div>
                        <p class="texto11">Analisis</p>
                    </div>
                    <div>
                        <p class="texto121">
                            Aqui va las inidicaciones de la terea
                        </p>
                    </div>
                    <div>3</div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <app-ventana-emergente-sustentacion #popup1></app-ventana-emergente-sustentacion>
        <button alt="Click to open popup" (click)="popup1.showPopup()" class="clickable-image">sustentacion</button>
    </div>
</div>