.bg {
    animation: slide 1s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: .5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}
.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 10s;
}
.bg3 {
    animation-duration: 70s;
}
@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}




.contenedor1{
    display: grid;
    grid-template-columns: 7% auto 7%;
}
.contenedor2{
    display: grid;
    grid-template-rows: 5% auto;
}
.estilo1{
    text-align: center;
    text-decoration: none;
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
}
.contenedor2{
    display: grid;
    grid-template-rows:5% auto;
    border-radius: 15px;
}
.custom-thead {
    background-color: #2A363B;
    color: white; /* Agrega este estilo para que el texto sea blanco */
    
  }
.estilos2{
    text-align: center;
    text-decoration: none;
    font-size:20px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    color: white;
}
.table {
    border-radius: 30px;
    overflow: hidden; /* Agrega esto para que el contenido no se desborde */
  }