<div class="contenedor1">
    <div></div>
    <div>
        <div class="estilo1"><P>Proyecto Formativo</P></div>
        <div class="contenedor2">
            <div class="contenedor3">
                <div class="estilos2">Nombre</div>
                <div class="estilos2">Categoria</div>
                <div class="estilos2">Integrantes</div>
                <div class="estilos2">Nombre de Software</div>
            </div>
            <div class="contenedor4">
                <div class="contenedor5">
                <div class="estilo1">Proyecto</div>
                <div class="estilo1">Pagina wed</div>
                <div class="estilo1">3</div>
                <div class="estilo1">Cooral</div>
                <div>5</div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>
