<section class="conetnedor-principal" >
    <div class="conatiner-principal" >
        <div class="contenedor1">
            <div class="cuador_adentro">
                <app-menu-coordinador> </app-menu-coordinador> 
            </div>
        </div>
        <div class="contenedor2">
            <div class="contenedor-principal1">
                <div class="Conetendor-Dentro">
                    <div class="contenedor-header">
                        <p class="nombreNat" data-aos="fade-left" >Registro de Instructor</p>
                    </div>
                    <div class="contenedor-contenido">
                        <form (ngSubmit)="onSubmit()" data-aos="fade-left">
                            <div class="contendorformulario">
                                <div>
                                   
                                    <div class="texto-Entradas">
                                        <p>Nombre:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Correo:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Género:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Edad:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Número de Documento:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Contraseña:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Estado:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Especialidad:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Fecha de Inicio de Contrato:</p>
                                    </div>
                                    <div class="texto-Entradas">
                                        <p>Fecha Final de Contrato:</p>
                                    </div>
                                </div>
                        
                                <div>
                                   
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="nombre" name="nombre" [(ngModel)]="instructor.nombre">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="correo" name="correo" [(ngModel)]="instructor.correo">
                                    </div>
                                    <div class="contendor-input">
                                        <div class="contendor-input">
                                            <input type="text" id="genero" name="genero" class="leabe-nombre" [(ngModel)]="instructor.genero" required>
                                        </div>
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="edad" name="edad" [(ngModel)]="instructor.edad">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="numeroDocumento" name="numeroDocumento" [(ngModel)]="instructor.numeroDocuemnto">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="contrasena" name="contrasena" [(ngModel)]="instructor.contrasena">
                                    </div>
                                    <div class="contendor-input">
                                        
                                        <input type="text" id="estado" name="estado" class="leabe-nombre" [(ngModel)]="instructor.estado">

                                    </div>
                                    <div class="contendor-input">
                                        <input type="text" class="leabe-nombre" id="especialidad" name="especialidad" [(ngModel)]="instructor.especialidad">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="date" class="leabe-nombre" id="fechaInicioContrato" name="fechaInicioContrato" [(ngModel)]="instructor.fechaInicioContrato">
                                    </div>
                                    <div class="contendor-input">
                                        <input type="date" class="leabe-nombre" id="fechaFinalContrato" name="fechaFinalContrato" [(ngModel)]="instructor.fechaFinalContrato">
                                    </div>
                                </div>
                            </div>
                            
                            <button type="submit" class="btn-enviar">Enviar</button>
                        </form>
                                                  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<router-outlet></router-outlet>