<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-nav></app-nav>
<div class="contenedor1">
  <div><app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante></div>
  <div>
    <div class="estilo1"><p>Proyectos a sustentar</p></div>
    <table class="table" >
      <thead class="custom-thead">
        <tr>
          <th scope="col" class="custom-thead estilo1">Nombre del Proyecto</th>
      <th scope="col" class="custom-thead estilo1">Categoria</th>
      <th scope="col" class="custom-thead estilo1">Last</th>
      <th scope="col" class="custom-thead estilo1"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let equipo of equipos">
          <th class="estilo1" >{{equipo.nombreProyecto}}</th>
          <th class="estilo1">{{equipo.nombreSoftware}}</th>
          <th class="estilo1">{{equipo.integrantes}}</th>
          <th><img src="" alt=""></th>
        </tr>
      </tbody>
    </table>
  </div>
</div>