<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-nav></app-nav>
<div class="contenedor1">
  <div><app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante></div>
  <div>
    <div class="estilo1"><p>Calificar sustentacion </p></div>
    <table class="table" >
      <thead class="custom-thead">
        <tr>
          <th scope="col" class="custom-thead estilo1">Cricterios</th>
      <th scope="col" class="custom-thead estilo1">Puntuacion</th>
      <th scope="col" class="custom-thead estilo1">Observacion</th>
   
        </tr>
      </thead>
      <tbody>
        <tr >
          <th class="estilo1" ></th>
          <th class="estilo1"></th>
          <th class="estilo1"></th>
        </tr>
      </tbody>
    </table>
    <button>Calificar</button>
  </div>
</div>