
<div class="bg bg2"></div>
<div class="bg bg3"></div>
<app-nav></app-nav>


<div class="contenedor1">
    <div><app-barra-lateral-desplegable-flotante></app-barra-lateral-desplegable-flotante></div>
    <div>
        <div class="estilo1"><P>Proyectos a sustentar</P></div>
        <div class="contenedor2">
            <div class="contenedor3">
                <div class="estilos2">Nombre del Proyecto</div>
                <div class="estilos2">Categoria</div>
                <div class="estilos2">Integrantes</div>
            </div>
            <div class="contenedor4">
                <div class="contenedor5">
                <div class="estilo1">Proyecto</div>
                <div class="estilo1">Pagina wed</div>
                <div class="estilo1"></div>
                <div></div>
                </div>
            </div>
        </div>
    </div>
    <div></div>
</div>