<aside class="conenedor_botones">


    <div class="conenedor1">
        <div class="header-contenedor-boton">Sustentaciones</div>
        <a routerLink="/sustentaciones"  class="texto1">Sustentaciones </a>


    </div>
    <div class="conenedor2">
        <div class="header-contenedor-boton">Registros</div>
        <a routerLink="/agragar-ficha" class="texto1">Registro Ficha</a> <br>
        <a routerLink="/registro-de-aprendiz"  class="texto1" data-aos="fade-up-right"> Registro de Aprendiz </a><br>
        <a routerLink="/instructor" class="texto1" data-aos="fade-left">Registro de Instructor</a><br>
        <a routerLink="/evaluador"  class="texto1" data-aos="fade-up-right">Registro de Evaluador</a><br>
        <a routerLink="/reguistrar-administradro"  class="texto1" data-aos="fade-up-right">Registro de administrador</a><br>
        <a routerLink="/mostrar-aprendiz"  class="texto1" data-aos="fade-up-right"> Ver Aprendiz </a><br>
        <a routerLink="/mostrar-instructor"  class="texto1" data-aos="fade-up-right"> Ver Instructor </a><br>
        <a routerLink="/mostrar-evaluador"  class="texto1" data-aos="fade-up-right"> Ver evaluador </a><br>
        <a routerLink="/mostrar-administrador"  class="texto1" data-aos="fade-up-right"> Ver administrador </a><br>
    </div>
    <div class="conenedor3">
        <div class="header-contenedor-boton">Reportes</div>
        <a routerLink="/crear-reportes"  class="texto1">Crear reportes</a>
        <br>
        <a href="/listar-reportes" class="texto1">Ver Reportes </a> <br>
        <div>
            <a href="/" class="texto1">salir</a>
    
        </div>
    </div>

    
</aside>




<router-outlet></router-outlet>


