<aside class="conenedor_botones">


    <div class="conenedor1">
        <div class="header-contenedor-boton">Sustentaciones</div>
        <a routerLink="/sustentaciones"  class="texto1">Sustentaciones </a>


    </div>
    <div class="conenedor2">
        <div class="header-contenedor-boton">Registros</div>
        
        <a  class="texto1">Historial de Fichas </a> <br>
        <a routerLink="/registro-de-aprendiz"  class="texto1"> Registro de Aprendiz </a><br>
        <a routerLink="/mostrar-aprendiz"  class="texto1"> Ver Aprendiz </a><br>
        <a routerLink="/registro-de-aprendiz"  class="texto1"> Ver Instructor </a><br>
        <a routerLink="/registro-de-aprendiz"  class="texto1"> Ver evaluador </a><br>
        <a routerLink="/instructor" class="texto1">Registro de Instructor</a><br>
        <a routerLink="/evaluador"  class="texto1">Registro de Evaluador</a><br>
    </div>
    <div class="conenedor3">
        <div class="header-contenedor-boton">Reportes</div>
        <a href="##" class="texto1">Ver Reportes </a> <br>
        <a href="##" class="texto1">Ver historial</a> <br>
        <a routerLink="/crear-reportes"  class="texto1">Crear reportes</a>
        
    </div>
</aside>




<router-outlet></router-outlet>


